@{
  Layout = "_Layout";
}

@using SweetSavory.Models
@model SweetSavory.Models.Flavor
<div class="row">
  <div class="col-md-12">
    @if(@Model == null)
    {
      <p>Sorry, this is not a valid flavor.</p>
    }
    else
    {
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title">
            <strong>Flavor: @Model.Name</strong>
            <a href='@Url.Action("Edit", new {id = @Model.FlavorId})'>
              <button class="btn btn-warning">Edit</button>
            </a>
            <a href='@Url.Action("Delete", new {id = @Model.FlavorId})'>
              <button class="btn btn-danger">Delete</button>
            </a>
          </div>
        </div>
        <div class="panel-body">
          <strong>Treats with this flavor</strong>
          <hr>
          <table class="table">
            <tr>
              <th>Treat</th>
              <th></th>
            </tr>
            @foreach(var join in Model.Treats)
            {
              <tr>
                <td>@Html.ActionLink($"{join.Treat.Name}", "Details", "Treats", new {id = join.Treat.TreatId})</td>
                <td>
                  @using (Html.BeginForm("DeleteTreat", "Flavors"))
                  {
                    @Html.Hidden("joinId", @join.FlavorTreatId)
                    <input type="submit" class="btn btn-danger" value="Delete Treat">
                  }
                </td>
              </tr>
            }
          </table>
        </div>
      </div>
    }
  </div>
</div>