@{
  Layout = "_Layout";
}

@model SweetSavory.Models.Flavor

<div class="row">
  <div class="col-md-12">
    @if(@Model == null)
    {
      <p>Sorry, this is not a valid flavor.</p>
    }
    else
    {
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title">
            <strong>Editing Flavor: @Model.Name</strong>
          </div>
        </div>
        <div class="panel-body">
          @Html.HiddenFor(model => model.FlavorId)

          @Html.LabelFor(model => model.Name)
          @Html.EditorFor(model => model.Name)

          @Html.Label("Select Treat")
          @Html.DropDownList("TreatId")

          <input type="submit" class="btn btn-primary" value="Save">
        </div>
      </div>
    }
  </div>
</div>